{% macro categoryWeb(data,category) %}
	{% import _self as macro %}
	{% for row in data %}
		<li {% if category['ID']==row['ID'] %} class="active"{% endif %}>
			
			
			<a href="/list/{{ row['ID'] }}/{{ row['url'] }}" {% if row['itemCount'] %}  data-toggle="tooltip" data-placement="left" title="{{ row['itemCount'] }}"{% endif %}>
				
				{% if row['children']|length %}
					<span class="pull-right" style="margin-right:-15px;"><i class="fa fa-caret-right"></i></span>
				{% endif %}
				{{ row['category'] }}
			</a>
			
			{% if row['children']|length %}
				<ul class="">
					{{ macro.categoryWeb(row['children'],category) }}
				</ul>
			{% endif %}
		</li>
	{% endfor %}
{% endmacro %}
{% macro categoryMobile(data,category) %}
	{% import _self as macro %}
	{% for row in data %}
		<li>
			
			
			<a href="/list/{{ row['ID'] }}/{{ row['url'] }}">
				{% if row['itemCount'] %}
				<span class="badge pull-right">{{ row['itemCount'] }}</span>
				{% endif %}
				{{ row['category'] }}
			</a>
			
			{% if row['children']|length %}
				<ul class="nav sub-menu" style="display: block; margin-left:30px; border-left:1px solid #ccc; ">
					{{ macro.categoryMobile(row['children'],category) }}
				</ul>
			{% endif %}
		</li>
	{% endfor %}
{% endmacro %}
	
	{% import _self as macro %}

<section id="main-nav-bar">
	
	
	<div class="container hidden-xs hidden-sm">
		<div class="row">
			<div id="nav-alpha" style="border-bottom:1px solid #ccc; margin-bottom:10px;">
				<ol class="breadcrumb " style="margin:0;">
					<li {% if letter == 'other' %}class="active"{% endif %}><a href="/list/other">#</a></li>
					{% for item in 'A'..'Z' %}
						<li {% if letter == item %}class="active"{% endif %}><a href="/list/{{ item }}">{{ item }}</a></li>
					{% endfor %}
					<li class="navbar-right active">100000 items</li>
				</ol>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	
	<div class="navbar navbar-fixed-top navbar-inverse visible-xs" style="z-index: 99999;" id="mobile-menu">
		<div class="container">
			<div class="navbar-header dropdown">
				<div class="dropdown">
					<button type="button" class="dropdown-toggle btn-default navbar-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						<i class="fa fa-bars"></i>
					</button>
					
					<ul class="dropdown-menu dropdown-menu-right" style="top:44px;z-index: 99;">
						<li><a href="/about">About</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				
				</div>
				
				<a class="navbar-brand" href="/" style="margin-right:50px;">Directory <i class="fa fa-home"></i></a>
				
				<ul class="nav nav-pills pull-right" style="margin-top:3px;">
					<li role="presentation">
						<a href="#" class=" collapsed" data-toggle="collapse" data-target="#bs-mobile-menu-categories">Categories</a>
					</li>
					<li role="presentation"><a href="/map">Map</a></li>
				</ul>
			</div>
			
			<div class="collapse navbar-collapse" id="bs-mobile-menu-categories">
				<ul class="nav navbar-nav">
					{{ macro.categoryMobile(_categories,category) }}
				</ul>
			</div>
		
		</div>
	</div>
	
	
	<div class="navbar hidden-xs" style="margin-bottom:10px;">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="navbar-brand" href="/" style="margin-right:50px;">Directory <i class="fa fa-home"></i></a>
			</div>
			
			<!-- Collect the nav links, forms, and other content for toggling -->
			<ul class="nav navbar-nav">
				
				<li class='divider-vertical'></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" style="cursor:pointer;" >
						<i class="fa fa-tags"></i>
						Categories <span class="caret"></span>
					</a>
					<ul id="category-drop-down" class="sm sm-vertical sm-simple dropdown-menu" >
						{{ macro.categoryWeb(_categories,category) }}
						
						
					</ul>
				
				</li>
				<li>
					<a href="/map">
						<i class="fa fa-map-o"></i> Map
					</a>
				</li>
			
			
			</ul>
			
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact</a></li>
				
				<li class="divider-vertical"></li>
				<li>
					<a href="/submit"><i class="fa fa-plus-square"></i> Submit a listing</a>
				</li>
			
			
			</ul>
		
		
		</div><!-- /.container-fluid -->
	</div>
</section>