<article class="directory-item" data-title="{{ row['name']|raw }}" data-id="{{ row['ID'] }}" data-gps-lat="{{ row['gps_lat']|scrub }}" data-gps-lng="{{ row['gps_lng']|scrub }}">
	<div >
		
		
		<div class="" style=" float:left;margin-right:10px;" >
			{% if row["photo"] %}
				<img alt="" src="/thumbnail/110/90?crop=false&file=/files/{{ row['photo'] }}" style="margin-left:10px; margin-top:0px;" class="img-thumbnail" />
			{% endif %}
			<div>&nbsp;</div>
		</div>
		<div  style="padding-left:10px;" >
			<h4>
				{% if row['recommended']|scrub=='1' %}
					<a href="/item/{{ row['ID'] }}/{{ row['url'] }}{% if search %}?highlight={{ search }}{% endif %}">{{ row['name']|raw }}</a>
				{% else %}
					{{ row['name']|raw }}
				{% endif %}
			</h4>
			<div class="item-sub">
				{% if row['phone']!="" %}
					<span class="item-sub-phone">
								<i class="fa fa-phone" ></i> {{ row['phone']|raw }}
							</span>
				{% endif %}
				{% if row['website']!="" %}
					<span class="item-sub-website">
								<a href="{{ row['website']|scrub }}" target="_blank">{{ row['website']|raw }}</a> 
							</span>
				{% endif %}
			
			</div>
			{% if row['synopsis'] %}
				<div class="item-text">
					{{ row['synopsis']|raw }}
				</div>
			{% endif %}
		</div>
	</div>
	<div class="clearfix"></div>
</article>