{% macro categoryMobile(data) %}
	{% import _self as macro %}
	{% for row in data %}
		<li>
			
			
			<a href="/list/{{ row['ID'] }}/{{ row['url'] }}">
				{% if row['itemCount'] %}
					<span class="badge pull-right">{{ row['itemCount'] }}</span>
				{% endif %}
				{% if row['photo'] %}
					<img alt="" src="/thumbnail/35/35?crop=false&file=/categories/{{ row['photo'] }}" style="margin-top:-10px;margin-bottom:-10px;"  />
				{% endif %}
				{{ row['category'] }}
			</a>
			
			{% if row['children']|length %}
				<ul class="nav sub-menu" style="display: block; margin-left:30px; border-left:1px solid #ccc; ">
					{{ macro.categoryMobile(row['children']) }}
				</ul>
			{% endif %}
		</li>
	{% endfor %}
{% endmacro %}
	
	{% import _self as macro %}

<ul class="nav">
	{{ macro.categoryMobile(_categories) }}
</ul>