<div class="row" style="position: relative;">
	<div class="col-md-4 affix affix-top  sidebar-offcanvas" id="left-area">
		<section id="left-area-content" class="content">
			<section >
				
				<h3>Random Suggested Listings</h3>
				
				
				
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					
					
					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">
						{% for row in suggested %}
						<a class="item {% if loop.index0=='0' %} active{% endif %}" href="/item/{{ row['ID'] }}/{{ row['url'] }}">
							
							<div class="item-photo c" style="height:350px;">
								<img alt="" src="/thumbnail/350/340?crop=false&file=/files/{{ row['photo'] }}" style="" class="img-thumbnail" />
							</div>
							
							<div class="carousel-caption" style="">
								<h3>{{ row['name'] }}</h3>
								{{ row['synopsis']|raw }}
							</div>
						</a>
						{% endfor %}
					</div>
					
					<!-- Controls -->
					<div class="btn-group btn-group-justified">
						<a class="left btn btn-default" href="#carousel-example-generic" role="button" data-slide="prev">
							<span class="fa fa-chevron-left" aria-hidden="true" style="margin-right:10px;"></span>
							<span>Previous</span>
						</a>
						<a class="right btn btn-default" href="#carousel-example-generic" role="button" data-slide="next">
							<span >Next</span>
							<span class="fa fa-chevron-right" aria-hidden="true" style="margin-left:10px;"></span>
						
						</a>
					</div>
					
				</div>
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				<div class="clearfix" style="height:50px;"></div>
				<h4>Recently Added</h4>
				<div class="clearfix" style="height:20px;"></div>
				{% for row in recent %}
					
						<article class="directory-item" data-title="{{ row['name'] }}" data-id="{{ row['ID'] }}" data-gps-lat="{{ row['gps_lat'] }}" data-gps-lng="{{ row['gps_lng'] }}">
							<div >
								
								
								<div class="" style=" float:left;margin-right:10px;" >
									{% if row["photo"] %}
										<img alt="" src="/thumbnail/60/60?crop=false&file=/files/{{ row['photo'] }}" style="margin-left:10px; margin-top:0px;" class="img-thumbnail" />
									{% endif %}
									<div>&nbsp;</div>
								</div>
								<div  style="padding-left:10px;" >
									<h4>
										{% if row['recommended']=='1' %}
											<a href="/item/{{ row['ID'] }}/{{ row['url'] }}">{{ row['name'] }}</a>
										{% else %}
											{{ row['name'] }}
										{% endif %}
									</h4>
									<div class="item-sub">
										{% if row['phone']!="" %}
											<span class="item-sub-phone">
								<i class="fa fa-phone" ></i> {{ row['phone'] }}
							</span>
										{% endif %}
										{% if row['website']!="" %}
											<span class="item-sub-website" style="max-width:200px;">
								<a href="{{ row['website'] }}" target="_blank">{{ row['website'] }}</a> 
							</span>
										{% endif %}
									
									</div>
									
								</div>
							</div>
							<div class="clearfix"></div>
						</article>
				
				{% endfor %}
				
				
				
				<div class="clearfix" style="height:30px;"></div>
				
			</section>
			
			<section class="content-footer"></section>
		</section>
	</div>
	<div class="col-md-7 col-md-offset-5 row-offcanvas row-offcanvas-left match-height" id="right-area">
		<div data-toggle="offcanvas" class="offcanvas visible-sm-block visible-xs-block">
			<i class="fa fa-ellipsis-v"></i>
		</div>
		<section id="right-area-content-area">
			<section id="right-area-content" class="content">
				{% include "_mobile_instruction.twig" %}
				{{ _page_content['1']|raw }}
				
				<h4>{{ _itemCount }} Businesses listed and counting...</h4>
				
				
				
				<section id="category-list-blocks" style="margin-top:10px;">
					{% for row in _categories %}
						<a href="/list/{{ row['ID'] }}/{{ row['url'] }}">
							{% if row['itemCount'] %}
								<span class="badge pull-right">{{ row['itemCount'] }}</span>
							{% endif %}
							{{ row['category'] }}
						
						</a>
					{% endfor %}
					<div class="clearfix"></div>
				</section>
			</section>
			
		</section>
	
	</div>
	
</div>