<div class="row" style="position: relative;">
	<div class="col-md-4 affix affix-top  sidebar-offcanvas" id="left-area">
		<section id="left-area-content" class="content">
			
			
			<h1>{{ category['category'] }}</h1>
			{% if category['photo'] %}
			<img alt="" src="/thumbnail/350/350?crop=false&file=/categories/{{ category['photo'] }}" style="" class="img-thumbnail" />
			{% endif %}
			{% if category['text'] %}
			<p style="margin-top:20px; text-align: justify">
				{{ category['text']|raw }}
			</p>
			{% endif %}
			
			<ol class="breadcrumb" style="margin-top:40px;">
				<li class="active">
					<i class="fa fa-chevron-right"></i>
				</li>
				{% for row in breadcrumb %}
					{% if loop.last %}
						<li class="active">{{ row['category'] }}</li>
					{% else %}
						<li>
							<a href="/list/{{ row['ID'] }}/{{ row['url'] }}">{{ row['category'] }}</a>
						</li>
					{% endif %}
				{% endfor %}
			</ol>
			{% if category['children']|length %}
			<h4 style="margin-top:40px;">Sub Categories</h4>
			<ul class="nav nav-pills nav-stacked">
				{% for row in category['children'] %}
				<li  data-trigger="hover" data-container="body" data-toggle="popover" data-placement="right" data-content="{% if row['photo'] %}<div class='c'><img src='/thumbnail/200/200?crop=false&file=/categories/{{ row['photo'] }}'  class='img-thumbnail' /></div>{% endif %}<div class='text-justify s'>{{ row['text'] }}</div>" data-html="true"  data-placement="left" title="{% if row['itemCount'] %}<span class='pull-right badge' style='margin-left:10px;'>{{ row['itemCount'] }}</span>{% endif %}{{ row['category'] }} ">
					<a href="/list/{{ row['ID'] }}/{{ row['url'] }}">
						<span class="badge pull-right" style="margin-right:-10px;">{{ row['itemCount'] }}</span>
						{{ row['category'] }}
					</a>
				</li>
				{% endfor %}
			</ul>
			{% endif %}
			
			{% if related|length %}
				<h4 style="margin-top:50px;">
					You might also be interested in these:
				</h4>
					
					<ul class="nav nav-pills">
						{% for row in related %}
							<li><a href="/list/{{ row['ID'] }}/{{ row['url'] }}">{{ row['category'] }}</a></li>
						{% endfor %}
					</ul>
			{% endif %}
			
		</section>
	</div>
	<div class="col-md-7 col-md-offset-5 row-offcanvas row-offcanvas-left match-height" id="right-area">
		<div data-toggle="offcanvas" class="offcanvas visible-sm-block visible-xs-block">
			<i class="fa fa-ellipsis-v"></i>
		</div>
		<section id="right-area-content-area">
			<section id="right-area-content" class="content">
				<ol class="breadcrumb">
					<li class="active">
						<i class="fa fa-chevron-right"></i>
					</li>
					{% for row in breadcrumb %}
						{% if loop.last %}
							<li class="active">{{ row['category'] }}</li>
						{% else %}
							<li>
								<a href="/list/{{ row['ID'] }}/{{ row['url'] }}">{{ row['category'] }}</a>
							</li>
						{% endif %}
					{% endfor %}
				</ol>
				
				
				
				<h3>Our Recommendations:</h3>
				{% for row in items['suggested'] %}
					{% include '_record.twig' with row %}
				{% endfor %}
				
				{% if related|length or category['children']|length %}
					<div class="well well-lg" style="margin-top:50px;">
						<h4 style="margin:0 0 20px 0;">
							You might also be interested in these categories:
						</h4>
						<ul class="nav nav-pills">
							{% for row in category['children'] %}
								<li><a href="/list/{{ row['ID'] }}/{{ row['url'] }}">{{ row['category'] }}</a></li>
							{% endfor %}
							{% for row in related %}
								<li><a href="/list/{{ row['ID'] }}/{{ row['url'] }}">{{ row['category'] }}</a></li>
							{% endfor %}
						</ul>
					
					</div>
					
				
				{% endif %}
				
				{% if items['other']|length %}
				<h3 style="margin-top:50px;">Also Try These:</h3>
				{% for row in items['other'] %}
					{% include '_record.twig' with row %}
				{% endfor %}
				{% endif %}
			</section>
		</section>
	
	</div>

</div>