<div class="row" style="position: relative;">
	<div class="col-md-4 affix affix-top  sidebar-offcanvas" id="left-area">
		<section id="left-area-content" class="content">
			
			<ol class="breadcrumb">
				<li class="active">
					<i class="fa fa-chevron-right"></i>
				</li>
				{% for row in breadcrumb %}
					{% if loop.last %}
						<li class="active">{{ row['category'] }}</li>
					{% else %}
						<li>
							<a href="/list/{{ row['ID'] }}/{{ row['url'] }}">{{ row['category'] }}</a>
						</li>
					{% endif %}
				{% endfor %}
			</ol>
			<h1>{{ category['category'] }}</h1>
			
			<div style="background-color: #e1e1e1; border:1px solid #ccc; width:370px; height:200px;"></div>
			
			<p style="margin-top:20px; text-align: justify">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid autem doloribus, ducimus eligendi esse inventore officiis repellat sapiente tempora! Aliquid aut blanditiis cupiditate dolores inventore ipsum natus quae quos.
			</p>
			
			{% if category['children']|length %}
			<h4 style="margin-top:40px;">Sub Categories</h4>
			<ul class="nav nav-pills nav-stacked">
				{% for row in category['children'] %}
				<li>
					<a href="/list/{{ row['ID'] }}/{{ row['url'] }}">
						<span class="badge pull-right" style="margin-right:-10px;">{{ row['itemCount'] }}</span>
						{{ row['category'] }}
					</a>
				</li>
				{% endfor %}
			</ul>
			{% endif %}
			
			
			
		</section>
	</div>
	<div class="col-md-7 col-md-offset-5 row-offcanvas row-offcanvas-left match-height" id="right-area">
		<div data-toggle="offcanvas" class="offcanvas visible-sm-block visible-xs-block">
			<i class="fa fa-ellipsis-v"></i>
		</div>
		<section id="right-area-content-area">
			<section id="right-area-content" class="content">
				<h3>Our Recommendations:</h3>
				{% for row in items['suggested'] %}
					<article class="directory-item" data-title="{{ row['name'] }}" data-id="{{ row['ID'] }}" data-gps-lat="{{ row['gps_lat'] }}" data-gps-lng="{{ row['gps_lng'] }}">
						<div >
							
							
							<div class="" style=" float:left;margin-right:10px;" >
								{% if row["photo"] %}
									<img alt="" src="/thumbnail/110/90?crop=false&file=/files/{{ row['photo'] }}" style="margin-left:10px; margin-top:0px;" class="img-thumbnail" />
								{% endif %}
								<div>&nbsp;</div>
							</div>
							<div  style="padding-left:10px;" >
								<h4>
									{% if row['recommended']=='1' %}
										<a href="/item/{{ row['ID'] }}/{{ row['url'] }}">{{ row['name'] }}</a>
									{% else %}
										{{ row['name'] }}
									{% endif %}
								</h4>
								<div class="item-sub">
									{% if row['phone']!="" %}
										<span class="item-sub-phone">
								<i class="fa fa-phone" ></i> {{ row['phone'] }}
							</span>
									{% endif %}
									{% if row['website']!="" %}
										<span class="item-sub-website">
								<a href="{{ row['website'] }}" target="_blank">{{ row['website'] }}</a> 
							</span>
									{% endif %}
									
								</div>
								{% if row['synopsis'] %}
									<div class="item-text">
										{{ row['synopsis'] }}
									</div>
								{% endif %}
							</div>
						</div>
						<div class="clearfix"></div>
					</article>
				{% endfor %}
				{% if items['other']|length %}
				<h3 style="margin-top:50px;">Also Try These:</h3>
				{% for row in items['other'] %}
					<article class="directory-item" data-title="{{ row['name'] }}" data-id="{{ row['ID'] }}" data-gps-lat="{{ row['gps_lat'] }}" data-gps-lng="{{ row['gps_lng'] }}">
						<div >
							
							
							<div class="" style=" float:left;margin-right:10px;" >
								{% if row["photo"] %}
									<img alt="" src="/thumbnail/110/90?crop=false&file=/files/{{ row['photo'] }}" style="margin-left:10px; margin-top:0px;" class="img-thumbnail" />
								{% endif %}
								<div>&nbsp;</div>
							</div>
							<div  style="padding-left:10px;" >
								<h4>
									{% if row['recommended']=='1' %}
										<a href="/item/{{ row['ID'] }}/{{ row['url'] }}">{{ row['name'] }}</a>
									{% else %}
										{{ row['name'] }}
									{% endif %}
								</h4>
								<div class="item-sub">
									{% if row['phone']!="" %}
										<span class="item-sub-phone">
								<i class="icon-phone" ></i> {{ row['phone'] }}
							</span>
									{% endif %}
									{% if row['website']!="" %}
										<span class="item-sub-website">
								<i class="icon-cloud"></i> <a href="{{ row['website'] }}" target="_blank">{{ row['website'] }}</a> 
							</span>
									{% endif %}
									{% if row['comment_count']>0 %}
										<span class="item-sub-comment">
								<i class="icon-comment-alt"></i> {{ row['comment_count'] }}
							</span>
									{% endif %}
								</div>
								{% if row['synopsis'] %}
									<div class="item-text">
										{{ row['synopsis'] }}
									</div>
								{% endif %}
							</div>
						</div>
						<div class="clearfix"></div>
					</article>
				{% endfor %}
				{% endif %}
			</section>
		</section>
	
	</div>

</div>